@import './channel-list.scss';
@import './message-list.scss';
@import './message-form.scss';

body {
  font-family: Helvetica;
  color: black;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}
