.channel-list {
  width: $channel-list-width;
  height: 100%;
  font-size: 2rem;
  background-color: black;
  opacity: 0.8;

  ul {
    margin-top: 3rem;
    list-style: none;
  }

  ul::before {
    content: 'Channel List';
  }

  li:hover {
    font-weight: 900;
  }

  #libra {
  }

  #gemini{
  }

  #aquarius {
  }
}

@media only screen and (max-width: 600px) {
  .channel-list {
    display: none;
  }
}
