// Layout Variables
$channel-list-width: 15%;
$message-container-width: 100% - $channel-list-width;

// Core Layout
body {
  font-family: Helvetica;
  color: black;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

