.message-list {
  width: $message-container-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.message {
  width: 95%;
  margin: 1rem;
  padding: 1.5rem;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.8rem;
  border-bottom-left-radius: 0px;
  color: white;

  &:hover {
    background-color: rgba(10, 10, 10, 0.4);
  }
}

.message-author {
  font-weight: 900;
}

.message-time {
  font-style: italic;
}

.message-body {

}
